{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<div class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Products List</h6>
                        <!-- Add button -->
                        <button class="btn btn-success btn-sm position-absolute top-0 end-0 m-3 text-white" data-bs-toggle="modal" data-bs-target="#addProductModal">
                           <a href="{% url 'add_product' %}" class="text-white"> Add Product </a>
                        </button>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Supplier</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Quantity</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Price</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Category</th>
                                    <th class="text-secondary opacity-7">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                <tr>
                                    <td class="align-middle">{{ product.product_name }}</td>
                                    <td class="align-middle">{{ product.fournisseur.name }}</td>
                                    <td class="align-middle">{{ product.quantity }}</td>
                                    <td class="align-middle">{{ product.price|floatformat:0 }} DT</td>
                                    <td class="align-middle text-center">
                                        <span class="badge {% if product.status %} bg-success {% else %} bg-danger {% endif %}" style="font-size: 0.875rem; border-radius: 0.5rem; color: white">
                                            {% if product.status %} IN STOCK {% else %}  OFF STOCK {% endif %}
                                        </span>
                                    </td>
                                    <td class="align-middle">{{ product.category.name }}</td>
                                    <td class="align-middle text-center">
                                        <a href="{% url 'edit_product' product.id %}" class="text-secondary me-2">
                                            <i class="material-symbols-rounded opacity-5">edit_note</i>
                                        </a>
                                        <form method="POST" action="{% url 'delete_product' product.id %}" style="display: inline" onsubmit="return confirm('Are you sure you want to delete this product?');">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-link text-danger p-0" style="border: none">
                                                <i class="material-symbols-rounded opacity-5">delete</i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
